.food-container{position: relative;}
.wish-list-cnt{
    background-color: #ffffff;
    width: 33px;
    height: 30px;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    right:5%;
}
.wish-list-cnt i {
    font-size: 17px; 
    color: black;
    position: absolute;
    top: 22%;
    left: 24%;
}

.wish-list-cnt:hover i {
    transform: scale(1.2);
}
